
$palette_a: #E63946;
$palette_b: #F1FAEE;
$palette_c: #A8DADC;
$palette_d: #457B9D;
$palette_e: #1D3557;

// Nuestras variables
$edp-color-primary: $palette_a;
$edp-color-background: $palette_b;
$edp-color-text: $palette_e;


// Fuentes
@import "fonts";


// Override de las variables de Bootstrap
@import "variables-bootstrap";
